<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <!--md-button class="md-icon-button" aria-label="Settings" ng-disabled="true">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button-->

        <h2 flex md-truncate>Governance</h2>

        <span flex></span>
        <!--md-button class="md-icon-button test-tooltip" aria-label="Dashboard">
            <md-tooltip md-direction="bottom">Dashboard</md-tooltip>
            <md-icon md-svg-src="img/icons/ic_dashboard_white_24px.svg"
                     style="width: 24px; height: 24px">
            </md-icon>
        </md-button-->
        <md-button class="md-icon-button test-tooltip" aria-label="Details">
            <md-tooltip md-direction="left">Rules</md-tooltip>
            <a href="#!/govrules">
                <md-icon md-svg-src="img/icons/ic_view_list_white_24px.svg"
                         style="width: 24px; height: 24px">
                </md-icon></a>
        </md-button>
    </div>
</md-toolbar>