<div class="jumbotron">
    <div class="container">
        <h3>Compute</h3>
        <p></p>
    </div>
</div>

    <md-content>
        <div class="container">
    <div ng-cloak>
            <a ng-init="tab1()"></a>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="Openstack" ng-click="tab1()">
                    <md-content class="md-padding">
                            <!--md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                                <md-card-title>
                                    <md-card-title-text>
                                        <span class="md-subhead">Recommendation on OpenStack Compute Instances. {{ totalItems }}</span>
                                    </md-card-title-text>
                                </md-card-title>
                            </md-card-->
                        <div ng-show="loading">
                            <!--img src="../img/spinner.gif" height="50" width="50" /-->
                            <md-progress-circular md-mode="determinate"></md-progress-circular>
                        </div>
                        <div class="container" ng-show="!loading">
                            <dir-pagination-controls
                                    max-size="5"
                                    direction-links="true"
                                    boundary-links="true" >
                            </dir-pagination-controls>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th><a href="" ng-click="order('Name')">Name</a></th>
                                    <th><a href="" ng-click="order('Flavor')">Flavor</a></th>
                                    <!--th><a href="" ng-click="order('AvailabilityZone')">Availability Zone</a></th-->
                                    <th><a href="" ng-click="order('RAM')">RAM</a></th>
                                    <th><a href="" ng-click="order('Storage')">Storage</a></th>
                                    <th><a href="" ng-click="order('Status')">Status</a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="text" ng-model="search.Name" /></td>
                                    <td><input type="text" ng-model="search.Flavor" /></td>
                                    <!--td><input type="text" ng-model="search.AvailabilityZone" /></td-->
                                    <td><input type="text" ng-model="search.RAM" /></td>
                                    <td><input type="text" ng-model="search.Storage" /></td>
                                    <td><input type="text" ng-model="search.Status" /></td>
                                </tr>
                                <!--tr dir-paginate="ec2 in ec2s | orderBy:predicate:reverse | filter:search |itemsPerPage:50"-->
                                <tr dir-paginate="osc in filteredosc = (oscs | filter:search | orderBy:predicate:reverse) |itemsPerPage:50">
                                    <td>{{osc.Name}}{{ osc[0] }}</td>
                                    <td>{{osc.Flavor}}</td>
                                    <!--td>{{osc.AvailabilityZone}}</td-->
                                    <td>{{osc.RAM}}</td>
                                    <td>{{osc.Storage}}</td>
                                    <td>{{osc.Status}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                    max-size="5"
                                    direction-links="true"
                                    boundary-links="true" >
                            </dir-pagination-controls>
                   </md-content>
                </md-tab>
                <md-tab label="Azure" ng-click="tab2()">
                    <md-content class="md-padding">
                        <md-card md-theme="{{showDarkTheme ? 'dark-grey' : 'default'}}" md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <!--span class="md-headline">Recommendations</span-->
                                    <span class="md-subhead">Total Azure Compute Instances. {{ totalItems }}</span>
                                </md-card-title-text>
                            </md-card-title>
                        </md-card>
                        <div ng-show="loading">
                            <!--img src="../img/spinner.gif" height="50" width="50" /-->
                            <md-progress-circular md-mode="determinate"></md-progress-circular>
                        </div>
                        <div class="container" ng-show="!loading">
                            <dir-pagination-controls
                                    max-size="5"
                                    direction-links="true"
                                    boundary-links="true" >
                            </dir-pagination-controls>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th><a href="" ng-click="order('VmName')">Name</a></th>
                                    <th><a href="" ng-click="order('Type')">Type</a></th>
                                    <!--th><a href="" ng-click="order('AvailabilityZone')">Availability Zone</a></th-->
                                    <th><a href="" ng-click="order('VmSize')">Size</a></th>
                                    <th><a href="" ng-click="order('Offer')">Offer</a></th>
                                    <th><a href="" ng-click="order('Location')">Location</a></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="text" ng-model="search.VmName" /></td>
                                    <td><input type="text" ng-model="search.Type" /></td>
                                    <!--td><input type="text" ng-model="search.AvailabilityZone" /></td-->
                                    <td><input type="text" ng-model="search.VmSize" /></td>
                                    <td><input type="text" ng-model="search.Offer" /></td>
                                    <td><input type="text" ng-model="search.Location" /></td>
                                </tr>
                                <!--tr dir-paginate="ec2 in ec2s | orderBy:predicate:reverse | filter:search |itemsPerPage:50"-->
                                <tr dir-paginate="osc in filteredosc = (oscs | filter:search | orderBy:predicate:reverse) |itemsPerPage:50">
                                    <td>{{osc.VmName}}{{ osc[0] }}</td>
                                    <td>{{osc.Type}}</td>
                                    <!--td>{{osc.AvailabilityZone}}</td-->
                                    <td>{{osc.VmSize}}</td>
                                    <td>{{osc.Offer}}</td>
                                    <td>{{osc.Location}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <dir-pagination-controls
                                    max-size="5"
                                    direction-links="true"
                                    boundary-links="true" >
                            </dir-pagination-controls>
                    </md-content>
                </md-tab>
                <md-tab label="Helion">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">Openstack</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
                <md-tab label="AWS">
                    <md-content class="md-padding">
                        <h1 class="md-display-2">HOS</h1>
                        <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                    </md-content>
                </md-tab>
            </md-tabs>
        </div>
    </md-content>