body{
   font-family: 'Roboto', sans-serif;
}
.navbar-custom {
    -webkit-box-shadow: 0 6px 4px -4px #999;
    -moz-box-shadow: 0 6px 4px -4px #999;
    box-shadow: 0 6px 4px -4px #999;
    background-color: #3c3c3c;
}

.jumbotron {
    -webkit-box-shadow: 0 4px 2px -2px #999;
    -moz-box-shadow: 0 4px 2px -2px #999;
    box-shadow: 0 4px 2px -2px #999;
}
.jumbotron {
    background-color: #d0e9c6;
    padding-bottom: 3px;
    padding-top: 39px;
}

.jumbotron P {
    font-size: 15px;
    font-weight: 300;
}

md-card.md-default-theme, md-card {
    color: rgba(0,0,0,0.87);
    background-color: rgba(255, 205, 64, 0.38);
    border-radius: 2px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    border-bottom : 16px solid black;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 45%;
    left: 45%;
}

.jumbotron {
    padding-bottom: 20px;
}

#ec2 {
    background-color : powderblue;
}

#ebs {
    background-color : #fdf6d9;
}

#cfg {
    background-color : #fdcb92;
}


#rounded {
    border-radius: 10px ! important;;
    background: #ffefb1;
    border: 2px solid #D5D4D3;
    padding: 10px;
    margin: 10px;
}

ul.nav-tabs > li.active > a {
    border-top: solid 3px #428bca !important;
}

div.scrollable {
    position: relative;
}

div.scrollable:before, div.scrollable:after {
    background: #f5f5f5;
    border: solid 1px #ccc;
    border-radius: 4px 4px 0 0;
    cursor: pointer;
    font-weight: bold;
    line-height: 42px;
    height: 42px;
    padding: 0 7px;
    position: absolute;
    z-index: 1;
}

div.scrollable:before {
    content: '<';
}

div.scrollable:after {
    content: '>';
    right: 0;
    top: 0;
}

div.scrollable > ul.nav-tabs {
    overflow: hidden;
    padding-left: 28px;
    white-space: nowrap;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

div.scrollable > ul.nav-tabs > li {
    display: inline-block;
    float: none;
}

div.scrollable > ul.nav-tabs > li:last-child {
    margin-right: 26px;
}

div.scrollable > .tab-content > .tab-pane {
    padding: 5px;
}

.dashboard-stat .img {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    padding-top: 20px;
    padding-left: 1px;
    margin-bottom: 5px;
    margin-left: -70px;}

